.centered {
    text-align: center;
    font-weight: normal;
    background-color: gray;
    margin: 0;
}

#title {
    font-size: 3rem;
}

#subtitle {
    font-size: 1.5rem;
}

div {
    background-color: gray;
}

li {
    list-style-type: none;
}

#content {
    text-decoration: underline;
    
}

.monospaced {
    font-family: monospace;
    
}

h1, h2 {
    font-weight: normal;
    margin: 0;
}
