/* minor CSS reset */
/* You should not need to change anything here */
html, body, div, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ADD CSS BELOW */
h1, h2, h3 {
	font-family: "bangers";
	text-transform: uppercase;
}

h1, h3 {
	text-align: center;
}

h2, h3 {
	font-size: 1em;
}

h1 {
	font-size: 3em;
}

h2 {
	margin: 10px 5px;
}

h3 {
	padding: 0px 5px;
	margin-bottom: 0px;;
}

ul {
	list-style-type: none;
}

img {
	max-width: 250px;
	max-height: 100px;
	padding: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.col {
	box-sizing: border-box;
	display: inline-block; 
	background-color: lightgray;
	border: 2px dashed black;
	margin:5px;
}

